.header {
  display: block;
  //height: 240px;
  padding: 34px 130px;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #333;

  @include screen('large-desktop') {
    padding: 5px 100px;
  }

  @include screen('desktop') {
    padding: 28px 30px !important;
  }

  @include screen('laptop') {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }

  @include screen('mobile') {
    padding: 32px 15px !important;
  }

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //height: 240px;
    align-items: center;

    @include screen('laptop') {
      //height: 190px;
    }
  }

  &__logo {
    width: 193px;
  }

  &__navbar {
    display: block;

    @include screen('laptop') {
      position: fixed;
      z-index: 1000;
      top: 171px;
      //bottom: 0;
      left: -100%;
      //right: 0;
      height: 100%;
      width: 100%;
      padding: 0 15px;
      background: $color-white;
      transition: all .8s cubic-bezier(.8, -.5, .2, 1.4);

      &_visible {
        left: 0;
        display: block;
      }

      .navbar {
        display: flex !important;
        flex-direction: column;
        padding: 0 0 70px;
        width: 100%;
      }

      .navbar__item {
        margin-left: 0;
        padding: 20px 0;
        border-bottom: 1px solid $color-light-black;
        width: 100%;
        text-align: center;
      }

      .navbar__link {
        color: $color-light-black;

        &:hover::after {
          width: 0;
        }
      }
    }

    .navbar {
      @include screen('desktop') {
        flex-direction: row;
      }

      @include screen('laptop') {
        display: none;
      }

      &__item {
        @include screen('desktop') {
          margin-left: 30px;

          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__mobile_menu {
    display: none;

    @include screen('laptop') {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  &__link_tel {

    svg {
      width: 44px;
      height: 44px;
      margin-right: 30px;
    }
  }

  .header__burger-brick {
    height: 4px;
    background: $color-light-black;
    margin-top: 10px;
    transition: .3s ease-out;

    &:first-child {
      margin-top: 0;
    }
  }

  .header__burger {
    width: 40px;
    cursor: pointer;

    &_open {

      .header__burger-brick:first-child {
        transform: rotate(45deg);
        margin-top: 0;
      }

      .header__burger-brick:last-child {
        transform: rotate(-45deg);
        margin-top: -18px;
      }

      .middle {
        transform: scale(0);
      }
    }
  }
}
