.copyright {
  display: block;

  @include screen('desktop') {
    margin-top: 30px;
  }

  &__box {
    display: flex;
    justify-content: space-between;

    @include screen('desktop') {
      justify-content: inherit;
    }

    span {
      color: #999;
      font-family: $futura-light;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .2em;

      @include screen('mobile') {
        font-size: 13px;
      }

      &:first-child {
        margin-right: 11px;
      }
    }
  }
}
