extends ../../layouts/default
include ../../blocks/image-bg/image-bg
include ../../blocks/title/title
include ../../blocks/grid/grid
include ../../blocks/square-big/square-big
include ../../blocks/link/link

block head
  - var pageTitle = 'Холл'

block content
  +b.holl
    +title('Холл')
    +grid()
      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/holl/photo1.jpg" alt='')
        +col(5)
          +e.title
            +e('h3').price Стоимость
            +square-big('9:00 - 23:00', '1 - 6 человек' ,'1100p', '7 - 9 человек', '1500p')
      +e('div').box._img
        +col(12)
          +e.img
            +image-bg()(src="assets/images/holl/photo2.jpg" alt='')
      +link('zal3.html', 'зал № 3', 'зал № 1', 'zal1.html')


