.zal3 {
  flex: 1;
  flex-basis: auto;

  .grid {

    &__col_twelve {
      height: 100%;
    }

    &__col_seven {
      @include screen('laptop') {
        width: 100%;
      }
    }

    &__col_five {
      @include screen('laptop') {
        width: 100%;
      }
    }

    &__img {
      position: relative;
    }

    &__box {
      display: flex;
      min-height: 680px;
      width: 100%;
      margin: 65px 0;

      &:first-child {
        margin-top: 0;
      }

      @include screen('desktop') {
        min-height: 550px;
      }

      @include screen('laptop') {
        flex-direction: column;
        min-height: 400px;
        margin: 20px 0;
      }

      @include screen('tablet') {
        min-height: 350px;
      }

      @include screen('mobile') {
        min-height: 250px;
      }
    }

    &__box_img {
      min-height: 834px;
      width: 100%;

      @include screen('desktop') {
        min-height: 550px;
      }

      @include screen('laptop') {
        min-height: 500px;
      }

      @include screen('tablet') {
        min-height: 450px;
      }

      @include screen('mobile') {
        min-height: 400px;
      }

      .grid__img {
        position: relative;
        min-height: 100%;

        @include screen('desktop') {
          //height: 550px;
        }

        @include screen('laptop') {
          //height: 500px;
        }

        @include screen('tablet') {
          //height: 450px;
        }

        @include screen('mobile') {
          //height: 400px;
        }
      }
    }

    &__img {
      position: relative;
      min-height: 100%;

      @include screen('desktop') {
        min-height: 100%;
      }

      @include screen('laptop') {
        min-height: 350px;
      }

      @include screen('tablet') {
        min-height: 300px;
      }

      @include screen('mobile') {
        min-height: 250px;
      }
    }

    &__title {
      justify-content: flex-end;
      align-items: center;
      display: flex;
      height: 100%;
      flex-direction: column;

      @include screen('desktop') {
        height: auto;
      }

      @include screen('laptop') {
        margin-bottom: 40px;
        height: auto;
      }
    }

    &__price {
      font-size: 21.328px;
      font-family: $futura-medium;
      color: $color-light-black;
      letter-spacing: .15em;
      text-transform: uppercase;
      margin-bottom: 60px;
    }

    &__description {
      font-size: 24px;
      font-family: $futura-light;
      color: $color-light-black;
      line-height: 1.708;
      text-align: center;
      max-width: 615px;
      margin-bottom: 40px;
      padding: 0 10px;

      @include screen('desktop') {
        max-width: inherit;
        width: 100%;
        font-size: 20px;
      }

      @include screen('laptop') {
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 0 25px;
        max-width: inherit;
      }

      @include screen('mobile') {
        font-size: 16px;
      }
    }
  }
}
