.footer {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 75px 130px 85px;
  border-top: 1px solid #333;
  margin-top: 65px;

  @include screen('large-desktop') {
    padding: 75px 100px 85px;
  }

  @include screen('desktop') {
    padding: 55px 0 !important;
  }

  @include screen('laptop') {
    margin-top: 20px;
  }

  &__logo {
    margin: 0 auto;
  }

  &__box {
    margin-top: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include screen('desktop') {
      margin-top: 55px;
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  .navbar {
    width: auto;

    &__item {
      @include screen('desktop') {
        padding: 20px 0;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &__link {
      color: $color-grey;
      transition: color .25s ease-in-out;

      &:hover {
        color: $color-light-black;
      }
    }
  }
}
