.link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 65px 125px;

  @include screen('desktop') {
    padding: 60px 100px;
  }

  @include screen('laptop') {
    padding: 55px;
  }

  @include screen('tablet') {
    padding: 45px 15px;
  }

  @include screen('mobile') {
    padding: 40px 15px;
  }

  &__link-left {
    display: flex;
    align-items: center;
    text-decoration: none;

    .link__prev {
      margin-right: 30px;

      @include screen('mobile') {
        margin-right: 10px;
      }

      svg {
        fill: transparent;
        stroke: $color-light-black;
        width: 27px;
        height: 51px;
        transition: all .25s ease-in-out;

        @include screen('mobile') {
          width: 20px;
          height: 44px;
        }
      }
    }

    &:hover svg {
      stroke: $color-grey;
    }

    &:hover .link__text {
      color: $color-grey;
    }
  }

  &__link-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-decoration: none;

    .link__next {
      margin-left: 30px;

      @include screen('mobile') {
        margin-left: 10px;
      }

      svg {
        fill: transparent;
        stroke: $color-light-black;
        width: 27px;
        height: 51px;
        transition: all .25s ease-in-out;

        @include screen('mobile') {
          width: 20px;
          height: 44px;
        }
      }
    }

    &:hover svg {
      stroke: $color-grey;
    }

    &:hover .link__text {
      color: $color-grey;
    }
  }

  &__text {
    font-size: 30px;
    font-family: $futura-light;
    color: $color-light-black;
    letter-spacing: .15em;
    text-transform: uppercase;
    transition: color .25s ease-in-out;

    @include screen('desktop') {
      font-size: 28px;
    }

    @include screen('laptop') {
      font-size: 24px;
    }

    @include screen('tablet') {
      font-size: 20px;
    }

    @include screen('mobile') {
      font-size: 16px;
    }
  }
}
