mixin square-big(time, human1, amount1, human2, amount2, human3, amount3)
  +b.square-big&attributes(attributes)
    +e('a href="#"').link
      +e('span').corners._top
      +e('span').corners._bottom
      +e('div').text-box
        +e('span').time=time
        +e('p').quantity
          +e('span').human1=human1
          +e('span').amount1=amount1
        +e('p').quantity.quantity_bottom
          +e('span').human2=human2
          +e('span').amount2=amount2
        +e('p').quantity.quantity_bottom
          +e('span').human3=human3
          +e('span').amount3=amount3
      block
