.contact {
  flex: 1;
  flex-basis: auto;

  .grid {

    &__col {
      padding: 0;
    }

    &__col_twelve {
      height: 100%;
    }

    &__col_seven {
      @include screen('laptop') {
        width: 100%;
      }
    }

    &__col_six {
      @include screen('laptop') {
        width: 100%;
      }
    }

    &__col_five {
      @include screen('laptop') {
        width: 100%;
      }
    }

    &__box {
      display: flex;
      min-height: 680px;
      width: 100%;
      margin: 65px 0;

      &:first-child {
        margin-top: 0;
      }

      @include screen('desktop') {
        min-height: auto;
      }

      @include screen('laptop') {
        flex-direction: column;
        min-height: auto;
        margin: 20px 0;
      }

      @include screen('tablet') {
        min-height: auto;
      }

      @include screen('mobile') {
        min-height: auto;
      }
    }

    &__list {
      list-style-type: none;
      padding: 0 15px;
      //width: 100%;

      @include screen('desktop') {
        width: 100%;
      }

      @include screen('laptop') {
        width: 100%;
        padding: 30px 20px;
        border-top: 1px solid $color-light-black;
        border-bottom: 1px solid $color-light-black;
      }
    }

    &__item {
      font-size: 27px;
      font-family: $futura-light;
      color: $color-light-black;
      line-height: 1.667;
      letter-spacing: .02em;
      display: flex;
      align-items: center;
      flex-direction: row;
      width: auto;

      @include screen('mobile') {
        font-size: 21px;
      }
    }

    &__box-left {
      padding-left: 280px;
      padding-right: 60px;

      @include screen('desktop') {
        padding: 0 15px;
      }

      @include screen('laptop') {
        margin-bottom: 60px;
      }

      h3 {
        font-size: 25px;
        font-family: $futura-medium;
        color: $color-light-black;
        line-height: 1.36;
        letter-spacing: .1em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        @include screen('laptop') {
          flex-direction: column;
          margin-bottom: 30px;
        }

        @include screen('mobile') {
          display: block;

          span {
            display: block;
            margin: 0 auto;
            width: 80px;
          }
        }
      }

      p {
        font-size: 21px;
        font-family: $futura-light;
        color: $color-light-black;
        line-height: 1.619;
        letter-spacing: .02em;
        text-align: left;
      }
    }

    &__box-right {
      padding-right: 250px;
      padding-left: 60px;

      @include screen('desktop') {
        padding: 0 15px;
      }

      h3 {
        font-size: 25px;
        font-family: $futura-medium;
        color: $color-light-black;
        line-height: 1.36;
        letter-spacing: .1em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        @include screen('laptop') {
          flex-direction: column;
          margin-bottom: 30px;
        }

        @include screen('mobile') {
          display: block;

          span {
            display: block;
            margin: 0 auto;
            width: 80px;
          }
        }
      }

      p {
        font-size: 21px;
        font-family: $futura-light;
        color: $color-light-black;
        line-height: 1.619;
        letter-spacing: .02em;
        text-align: left;
      }
    }

    &__box_transport {
      min-height: auto;
    }

    &__map {
      height: 680px;

      @include screen('desktop') {
        height: 550px;
      }

      @include screen('laptop') {
        height: 500px;
      }

      @include screen('tablet') {
        height: 450px;
      }

      @include screen('mobile') {
        height: 400px;
      }
    }

    &__img {
      position: relative;
      min-height: 100%;

      @include screen('desktop') {
        min-height: 550px;
      }

      @include screen('laptop') {
        display: none;
      }
    }

    &__title {
      justify-content: center;
      align-items: center;
      display: flex;
      height: 100%;

      @include screen('laptop') {
        margin-bottom: 40px;
      }
    }

    &__address {
      width: 30px;
      height: 30px;
      fill: $color-light-black;
      margin-right: 45px;
      display: flex;

      @include screen('mobile') {
        margin-right: 25px;
      }
    }

    &__telefon1 {
      width: 30px;
      height: 33px;
      fill: $color-light-black;
      margin-right: 45px;
      display: flex;

      @include screen('mobile') {
        margin-right: 25px;
      }
    }

    &__letter {
      width: 30px;
      height: 33px;
      fill: $color-light-black;
      margin-right: 45px;
      display: flex;

      @include screen('mobile') {
        margin-right: 25px;
      }
    }

    &__auto {
      width: 79px;
      height: 39px;
      fill: $color-light-black;
      margin-right: 35px;
      display: flex;

      @include screen('laptop') {
        margin-right: 0;
        margin-top: 30px;
      }
    }

    &__transport {
      width: 80px;
      height: 44px;
      fill: $color-light-black;
      margin-right: 50px;
      display: flex;

      @include screen('laptop') {
        margin-right: 0;
        margin-top: 30px;
      }
    }
  }
}
