.main-slider {
  height: 840px;
  width: 100%;

  @include screen('desktop') {
    height: 500px;
  }

  @include screen('laptop') {
    height: 435px;
  }

  @include screen('tablet') {
    height: 315px;
  }

  @include screen('mobile') {
    height: 210px;
  }

  &__img {
    width: 100%;
    height: 100%;
    //height: 840px;

    @include screen('desktop') {
      //height: 655px;
    }

    @include screen('laptop') {
      //height: 435px;
    }

    @include screen('tablet') {
      //height: 315px;
    }

    @include screen('mobile') {
      //height: 210px;
    }
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: 130px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @include screen('large-desktop') {
    margin-right: 100px;
  }

  @include screen('desktop') {
    margin-right: 0;
  }
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  margin: 0 auto;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullets {
  position: absolute;
  z-index: 2;
  bottom: 32px;
  left: 0;
  width: 100%;
  text-align: center;

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    background: #9d9b9a;
    margin: 0 8px;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }
}
