.main-slider {
  height: 840px;
  width: 100%;

  @include screen('desktop') {
    height: 500px;
  }

  @include screen('laptop') {
    height: 435px;
  }

  @include screen('tablet') {
    height: 315px;
  }

  @include screen('mobile') {
    height: 210px;
  }

  &__img {
    width: 100%;
    height: 100%;
    //height: 840px;

    @include screen('desktop') {
      //height: 655px;
    }

    @include screen('laptop') {
      //height: 435px;
    }

    @include screen('tablet') {
      //height: 315px;
    }

    @include screen('mobile') {
      //height: 210px;
    }
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: 130px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @include screen('large-desktop') {
    margin-right: 100px;
  }

  @include screen('desktop') {
    margin-right: 0;
  }
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  margin: 0 auto;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;

  @include screen('laptop', min) {
  opacity: 1 !important;
  z-index: 1;

  .image-bg {
    width: 0;
    transition: width 1s cubic-bezier(0.19, 1, 0.22, 1) 1s;

    &__img {
      transform: translate3d(-10%, 0, 0);
      transition: transform 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s, -webkit-transform 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
    }

    @include performance;
  }

  &-active {
    z-index: 2;

    .image-bg {
      transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
      width: 100%;

      &__img {
        transform: translate3d(0, 0, 0);
        transition: transform 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
    }
  }

  }
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullets {
  position: absolute;
  z-index: 2;
  bottom: 32px;
  left: 0;
  width: 100%;
  text-align: center;

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    background: #9d9b9a;
    margin: 0 8px;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }
}
