extends ../../layouts/default
include ../../blocks/image-bg/image-bg
include ../../blocks/grid/grid
include ../../blocks/square/square
include ../../components/slider/slider

block head
  - var pageTitle = 'Главная'

block content
  +b.index
    +grid()
      +main-slider()
      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/index/photo1.jpg" alt='')
        +col(5)
          +e.title
            +square('залы')
      +e('div').box._reverse
        +col(7)
          +e.img
            +image-bg()(src="assets/images/index/photo2.jpg" alt='')
        +col(5)
          +e.title
            +square('оборудование')
      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/index/photo3.jpg" alt='')
        +col(5)
          +e.title
            +square('цены')
      +e('div').box.__map
          +col(12)
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3177.0491242976686!2d37.54824715869078!3d55.732215470606164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b93865a2305%3A0x511ee91d49beaee9!2z0JHQtdGA0LXQttC60L7QstGB0LrQsNGPINC90LDQsS4sIDIwLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTIxMDU5!5e0!3m2!1sru!2sua!4v1496264382809" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

