.contacts {
  display: flex;

  @include screen('desktop') {
    margin-bottom: 30px;
  }

  p {
    display: inline-flex;
    color: #999;
    letter-spacing: .128em;
    font-size: 16px;

    @include screen('mobile') {
      font-size: 15px;
      letter-spacing: .05em;
    }

    &:first-child::after {
      content: '';
      display: inline-flex;
      width: 1px;
      height: 16px;
      background: #9a9a9a;
      margin: 0 23px;

      @include screen('laptop') {
        margin: 0 10px;
      }
    }
  }

  &__telefon {
    width: 18px;
    height: 20px;
    fill: $color-grey;
    margin-right: 10px;
  }
}
