.contacts {
  display: flex;

  @include screen('desktop') {
    margin-bottom: 30px;
  }

  p {
    display: inline-flex;
    color: #999;
    letter-spacing: .128em;
    font-size: 16px;

    &:first-child::after {
      content: '';
      display: inline-flex;
      width: 1px;
      height: 16px;
      background: #9a9a9a;
      margin: 0 23px;

      @include screen('laptop') {
        margin: 0 10px;
      }
    }
  }
}
