.logo {
  display: flex;
  opacity: 1;
  will-change: opacity;
  transition: opacity .25s ease-in-out;
  width: 190px;

  @include screen('large-desktop') {
    width: 100px;
  }

  @include screen('laptop') {
    width: 100px;
  }

  @include screen('tablet') {
    width: 80px;
  }

  @include screen('mobile') {
    width: 50px;
  }

  &:hover {
    opacity: .75;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
