.oborudovanie {
  flex: 1;
  flex-basis: auto;

  .grid {

    &__col {
      padding: 0;
    }

    &__col_seven {
      @include screen('laptop') {
        width: 100%;
      }
    }

    &__col_five {
      @include screen('laptop') {
        width: 100%;
      }
    }

    &__box {
      display: flex;
      height: auto;
      width: 100%;
      margin: 65px 0;

      &:first-child {
        margin-top: 0;
      }

      @include screen('desktop') {
        height: auto;
      }

      @include screen('laptop') {
        flex-direction: column-reverse;
        height: auto;
        margin: 20px 0;
      }

      @include screen('tablet') {
        height: auto;
      }

      @include screen('mobile') {
        height: auto;
      }
    }

    .box_reverse {
      @include screen('laptop') {
        flex-direction: column !important;
      }
    }

    &__img {
      position: relative;
      height: 680px;

      @include screen('desktop') {
        height: 550px;
      }

      @include screen('laptop') {
        height: 500px;
      }

      @include screen('tablet') {
        height: 450px;
      }

      @include screen('mobile') {
        height: 400px;
      }
    }

    &__title {
      justify-content: center;
      align-items: center;
      display: flex;
      height: 100%;
      flex-direction: column;
      padding: 0 130px;

      @include screen('desktop') {
        padding: 0 15px;
      }

      @include screen('laptop') {
        height: 100%;
        margin-bottom: 40px;
      }
    }

    &__list {
      padding: 0;
      margin-top: 60px;
      width: 100%;
    }

    &__item {
      font-size: 24px;
      font-family: $futura-light;
      color: $color-light-black;
      line-height: 1.708;
    }
  }
}
