extends ../../layouts/default
include ../../blocks/image-bg/image-bg
include ../../blocks/title/title
include ../../blocks/grid/grid
include ../../blocks/square/square

block head
  - var pageTitle = 'Оборудование'

block content
  +b.oborudovanie
    +title('Оборудование')
    +grid()
      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/oborudovanie/photo1.jpg" alt='')
        +col(5)
          +e.title
            +square('', 'FALCON EYES')
            +e('div').content-zone
              +e('ul')
                +e('li') Вспышка студийная Falcon Eyes Sprinter 200 BW
                +e('li') Комплект Falcon Eyes Sprinter 2300-SBU Kit
                +e('li') Софтбокс Falcon Eyes SBQ-40180 BW жаропрочный с сотовой насадкой
                +e('li') Стойка-тренога Falcon Eyes FEL-3050A/B.0 - 2шт.
                +e('li') Стойка Falcon Eyes L-150 /B напольная
                +e('li') Falcon Eyes F-1200R генератор тумана
                +e('li') Falcon Eyes SF-05 вентилятор студийный

      +e('div').box.box_reverse
        +col(5)
          +e.title
            +square('', 'PROFOTO')
            +e('div').content-zone
              +e('ul')
                +e('li') Profoto D1 Air 500 Моноблок импульсный
                +e('li') Profoto D1 Studio Kit 500/500/1000 Air
                +e('li') (including Air Remote) / Комплект студийного света
                +e('li') Profoto Softlight Reflector White 65°
                +e('li') Портретная тарелка белая
                +e('li') Profoto Softbox RFi 30x180 cm / 1x6'. Софтбокс 30х180

        +col(7)
          +e.img
            +image-bg()(src="assets/images/oborudovanie/photo2.jpg" alt='')

      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/oborudovanie/photo3.jpg" alt='')
        +col(5)
          +e.title
            +square('', 'KUPO')
            +e('div').content-zone
              +e('ul')
                +e('li') KUPO K stand-Junior boom stand, Стойка-журравль
                +e('li') KUPO High roller stand, Стойка на колесах

      +e('div').box.box_reverse
        +col(7)
          +e.title
            +square('', 'СИСТЕМЫ УСТАНОВКИ ФОНА')
            +e('div').content-zone
              +e('ul')
                +e('li') Fotokvant V-2830 ворота для фотофона
                +e('li') Fotokvant NVF-1989 комплект из трех фонов
                +e('li') Superior 67 Nutmeg фон бумажный 2,72x11м цвет мускатный орех
                +e('li') Savage (3-12) Coral фон бумажный 2,7x11 м розовый коралл
                +e('li') Superior 11 Royal Blue фон бумажный 2,72x11м цвет королевский синий
                +e('li') Superior 56 Scarlet фон бумажный 2,72x11м цвет скарлет
                +e('li') Lumifor LAC-BR4-MT автоматическая система подъема фона на 4 шт.

        +col(5)
          +e.img
            +image-bg()(src="assets/images/oborudovanie/photo4.jpg" alt='')

      +e('div').box
        +col(5)
          +e.img
            +image-bg()(src="assets/images/oborudovanie/photo5.jpg" alt='')
        +col(7)
          +e.title
            +square('', 'КОМПЛЕКТЫ ПОСТОЯННОГО СВЕТА')
            +e('div').content-zone
              +e('ul')
                +e('li') Grifon GRIF-91 комплект галогенного света мощностью 800Вт
                +e('li') Lumifor MIRA LFL-632 SR KIT комплект постоянного света флуоресцентный 6х32 Вт
                +e('li') Lumifor LST-60130 cтол для предметной съемки 60х130 см
                +e('li') FST LT-60 LED куб со светодиодным освещением 60 см

