extends ../../layouts/default
include ../../blocks/image-bg/image-bg
include ../../blocks/title/title
include ../../blocks/grid/grid
include ../../blocks/square/square

block head
  - var pageTitle = 'Съемочные залы'

block content
  +b.zaly-oborudovanie
    +title('Съемочные залы')
    +grid()
      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/zaly-oborudovanie/photo1.jpg" alt='')
        +col(5)
          +e.title
            +square('holl.html', 'холл')

      +e('div').box.box_reverse
        +col(5)
          +e.title
            +square('zal1.html', 'зал № 1')
            +e('div').content-zone
              +e('p') Зал для предметной съемки и бодиарта оснащен кафельным полом и стенами. Все зависит от вашей фантазии.
        +col(7)
          +e.img
            +image-bg()(src="assets/images/zaly-oborudovanie/photo2.jpg" alt='')

      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/zaly-oborudovanie/photo3.jpg" alt='')
        +col(5)
          +e.title
            +square('zal2.html', 'зал № 2')
            +e('div').content-zone
              +e('p') Белый с угловой циклорамой и только пара акцентов — фактурная стена и набор фонов с автоматической системой управления.

      +e('div').box.box_reverse
        +col(5)
          +e.title
            +square('zal3.html', 'зал № 3')
            +e('div').content-zone
              +e('p') Идеально подойдет для крупных продакшенов, мероприятий, тренингов, семинаров. Зал с самой большой циклорамой, оснащен отдельной гримеркой, рабочей зоной для ассистентов, продюсеров, стилистов.
        +col(7)
          +e.img
            +image-bg()(src="assets/images/zaly-oborudovanie/photo4.jpg" alt='')

      +title('Оборудование').title_border

      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/zaly-oborudovanie/photo5.jpg" alt='')
        +col(5)
          +e.title
            +square('', 'FALCON EYES')
            +e('div').content-zone
              +e('ul')
                +e('li') Вспышка студийная Falcon Eyes Sprinter 200 BW
                +e('li') Комплект Falcon Eyes Sprinter 2300-SBU Kit
                +e('li') Софтбокс Falcon Eyes SBQ-40180 BW жаропрочный с сотовой насадкой
                +e('li') Стойка-тренога Falcon Eyes FEL-3050A/B.0 - 2шт.
                +e('li') Стойка Falcon Eyes L-150 /B напольная
                +e('li') Falcon Eyes F-1200R генератор тумана
                +e('li') Falcon Eyes SF-05 вентилятор студийный

      +e('div').box.box_reverse
        +col(5)
          +e.title
            +square('', 'PROFOTO')
            +e('div').content-zone
              +e('ul')
                +e('li') Profoto D1 Air 500 Моноблок импульсный
                +e('li') Profoto D1 Studio Kit 500/500/1000 Air
                +e('li') (including Air Remote) / Комплект студийного света
                +e('li') Profoto Softlight Reflector White 65°
                +e('li') Портретная тарелка белая
                +e('li') Profoto Softbox RFi 30x180 cm / 1x6'. Софтбокс 30х180
        +col(7)
          +e.img
            +image-bg()(src="assets/images/zaly-oborudovanie/photo6.jpg" alt='')

      +e('a href="oborudovanie.html"').link_all посмотреть все
