.pravila {
  flex: 1;
  flex-basis: auto;

  .grid {

    &__col {
      padding: 0;
    }

    &__col_seven {
      @include screen('laptop') {
        width: 100%;
      }
    }

    &__col_five {
      @include screen('laptop') {
        display: none;
      }
    }

    &__box {
      width: 100%;
      //min-height: 350px;
      height: 100%;
      display: flex;

      @include screen('laptop') {
        flex-direction: column;
      }
    }

    &__number {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      @include screen('laptop') {
        display: none;
      }

      p {
        font-size: 471.617px;
        font-family: $futura-bold;
        color: $color-light-grey;
        line-height: .68;

        @include screen('desktop') {
          font-size: 300px;
        }
      }
    }

    &__list {
      list-style-type: none;
      padding: 0;

      @include screen('desktop') {
        padding: 0 30px;
      }

      @include screen('mobile') {
        padding: 0 15px;
      }
    }

    &__item {
      font-size: 21px;
      font-family: $futura-light;
      color: $color-light-black;
      line-height: 1.619;

      @include screen('desktop') {
        font-size: 19px;
      }

      @include screen('mobile') {
        font-size: 16px;
      }

      span {
        font-family: $futura-medium;
      }
    }

    .box__padding {

      &_right {
        padding-right: 205px;

        @include screen('desktop') {
          padding: 0;
        }
      }

      &_left {
        padding-left: 130px;

        @include screen('desktop') {
          padding: 0;
        }
      }
    }
  }
}
