extends ../../layouts/default
include ../../blocks/image-bg/image-bg
include ../../blocks/title/title
include ../../blocks/grid/grid

block head
  - var pageTitle = 'Правила'

block content
  +b.pravila
    +grid()
      +title('ПРАВИЛА АРЕНДЫ')
      +e('div').box.box__padding_right
        +col(5)
          +e.number
            +e('p') 1

        +col(7)
          +e('ol').list
            +e('li').item #[span 1.1.] Время работы фотостудии с 9:00 до 23:00, минимальное время бронирования 1 час. Забронировать студию можно только с начала полного часа (например с 12.00, 13.00, 19.00).
            +e('li').item #[span 1.2.] Вы можете забронировать ночной пакет с 23:00-08:00. Минимальное время ночного пакета 5 часов.
            +e('li').item #[span 1.3.] Аренда залов до 09.00 утра рассчитывается по двойной стоимости аренды зала (при стандартном коли- честве человек до 10).
            +e('li').item #[span 1.4.] Если Вам необходима почасовая аренда ночного пакета, стоимость рассчитывается по двойной стоимости аренды зала (при стандартном количестве человек до 10)
            +e('li').item #[span 1.5.] Время аренды начинается строго по забронированному времени. Убедительная просьба - не опаздывать! Опоздание не является причиной сокращения стоимости аренды, а так же не дает возможность снимать дольше забронированного времени. Время аренды фотостудии можно продлить, на минимальное время - час, при наличии свободного времени.
            +e('li').item #[span 1.6.] Покинуть съемочную площадку необходимо за 5 минут до окончания съемки. Мы делаем максимум возможного, чтобы залы были готовы к Вашему визиту на 100%

      +title('ПРАВИЛА ОТМЕНЫ')
      +e('div').box.box__padding_left
        +col(7)
          +e('ol').list
            +e('li').item #[span 2.1.] Брони продолжительностью до 5 часов:
            +e('li').item #[span 2.1.1.] Можно абсолютно бесплатно отменить за 4 дня до начала съемки включительно.
            +e('li').item #[span 2.1.2.] При отмене брони за 3 дня до начала съемки, вы обязаны оплатить штраф в размере 50% от стоимости аренды.
            +e('li').item #[span 2.1.3.] При отмене брони за 1 сутки до начала съемки или в день съемки, вы обязаны оплатить штраф в размере 100% от стоимости аренды зала.
            +e('li').item #[span 2.2.] Брони продолжительности от 5 часов включительно:
            +e('li').item #[span 2.2.1.] Можно абсолютно бесплатно отменить за 7 дней включительно.
            +e('li').item #[span 2.2.2] При отмене брони в период от 6 дней до дня съемки вы обязаны оплатить штраф в размере 100% от стоимости аренды зала.
            +e('li').item #[span 2.2.3.] Оплатить штраф необходимо в срок не позднее 6 дней со дня отмены брони.
            +e('li').item #[span 2.2.4.] В случае неуплаты штрафа, вся последующая работа с клиентом продолжается только по 100% предоплате.

        +col(5)
          +e.number
            +e('p') 2

      +title('ПРАВИЛА ОПЛАТЫ')
      +e('div').box.box__padding_right
        +col(5)
          +e.number
            +e('p') 3

        +col(7)
          +e('ol').list
            +e('li').item #[span 3.1.] Мы просим Вас оплатить полную стоимость аренды залов, до начала работы на съемочной площадке.
            +e('li').item #[span 3.2.] В случае опоздания или досрочного освобождения съемочной площадки, разница в стоимости не возвращается.
            +e('li').item #[span 3.3.] В случае аренды всей фотостудии или одного и нескольких залов на срок более 10 часов, необходимо внести предоплату в размере 50% от стоимости аренды за 2 недели до забронированной даты, оставшиеся

      +title('ПРАВИЛА В СТУДИИ')
      +e('div').box.box__padding_left
        +col(7)
          +e('ol').list
            +e('li').item #[span 4.1.] В любом помещении студии можно находиться только в сменной обуви. Вы можете принести сменную обувь с собой или воспользоваться нашими бесплатными тапочками.
            +e('li').item #[span 4.2.] Фото и видеосъемка с пропагандой насилия, порнографии, расовой дискриминации и съемок рекламного характера эскорт услуг, в нашей фото-студии запрещены. Фотографы и модели уличенный в съемках вышеуказанного характера, могут быть без их согласия занесены в черный список. Последующее нахождение на территории фотостудии будет запрещено. Стоимость не оказанных услуг фотостудии, в данном случае, не возвращается.
            +e('li').item #[span 4.3.] Вы можете перемещать мебель в зале, но за любую порчу студийного имущества, клиент несет полную материальную ответственность. Не забывайте, что полы при передвижении мебели царапаются, поэтому если Вы переставляете крупногабаритные предметы, делайте это не травмируя пол, усилиями двух человек. Вы также всегда можете обратиться за помощью к нашим администраторам, мы с радостью Вам поможем. Запрещено снимать картины, зеркала без разрешения и помощи администратора! Убедительная просьба все переставленные предметы возвращать на свои места!
            +e('li').item #[span 4.4.] За 10 минут до окончания вашего времени администратор свяжется с Вами, чтобы напомнить об окончании времени съемки.
            +e('li').item #[span 4.5.] Убедительная просьба не оставлять на съемочной площадке мусор и Ваш личный реквизит.
            +e('li').item #[span 4.6.] Фотостудия не несет ответственность за оставленные без присмотра вещи. Во избежании неприятных ситуаций не оставляйте ценные вещи в гардеробе.
            +e('li').item #[span 4.7.] Мебель из холла не является декорациями для залов, взять ее можно только по предварительной заявке администратору. Цену за дополнительную мебель на площадке можно уточнить у администратора. Мелкая декоративная атрибутика, а также крупногабаритная мебель не сдается в аренду.
            +e('li').item #[span 4.8.] Нахождение животных в студии обговаривается с администрацией заранее. Вы несете материальную отвественности за испорченное имущество фотостудии, а так же гарантируете оплату за услуги клининга.
            +e('li').item #[span 4.9.] Курение, распитие спиртных напитков, употребление наркотических средств на территории фотостудии категорически запрещено. Лицо уличенное в нарушении данного правила, безоговорочно обязанно покинуть территорию фотостудии. Сотрудник, в случае невыполнения требования покинуть студию, вправе обратиться в органы частной или государственной охранной службы. Стоимость не оказанных услуг фотостудии не возвращается. Курение на лестничной площадке любого этажа категорически запрещено и возлагается штрафом в размере 1000р.
            +e('li').item #[span 4.10.] Проносить еду и напитки в залы запрещено. У нас есть прекрасный, удобный холл, где вы сможете насладиться своим завтраком/обедом/ужином.
            +e('li').item #[span 4.11.] Незнание правил, не освобождает Вас от ответственности.

        +col(5)
          +e.number
            +e('p') 4


