extends ../../layouts/default
include ../../blocks/image-bg/image-bg
include ../../blocks/title/title
include ../../blocks/grid/grid
include ../../blocks/square-big/square-big
include ../../blocks/link/link

block head
  - var pageTitle = 'Зал № 2'

block content
  +b.zal2
    +title('Зал № 2')
    +grid()
      +e('div').box
        +col(7)
          +e.img
            +image-bg()(src="assets/images/zal2/photo.jpg" alt='')
        +col(5)
          +e.title
            +e('p').description Белый с угловой циклорамой и только пара акцентов — фактурная стена и набор фонов с автоматической системой управления.
            +e('h3').price Стоимость
            +square-big('9:00 - 23:00', '1 - 6 человек' ,'1100p', '7-9 человек', '1500p')
      +e('div').box._img
        +col(12)
          +e.img
            +image-bg()(src="assets/images/zal2/photo1.jpg" alt='')
      +link('zal1.html', 'зал № 1', 'зал № 3', 'zal3.html')
